ul
{
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

h1
{
	font-size:2em;
	margin-left:120px;
}
 
h1, h2
{
	padding:0;
	margin:0 0 20px 0;
	font-weight:normal;
}
 
p
{
	padding:0;
	margin:0 0 20px 0;
}
 
li:body
{
        text-indent: 90px;
}
 
a:link, a:visited
{
	text-decoration:underline;
	color: red;
}
 
a:hover
{
	text-decoration: none;
}
 
ul li
{
	padding: 5px 0;
}
 
ul li input[type="text"], ul li input[type="password"]
{
	width:200px;
}
 
h1
{
	font-size: 1.8em;
}
 
h2
{
	font-size: 1.5em;
}
 
.logo
{
	font:2em Arial;
	margin:0 0 10px 0;
	padding: 0;
	width: 200px;
	color: #a45db1;
}
 
body
{
	background: #FFB623;
	font-family: Arial;
	font-size: 1em;
}
 
#container, footer
{
	background:#fff;
	margin-left:120px;
	margin-right:120px;
	padding:20px;
}

header
{
	margin-right: 130px;
	font-size: larger;
}

#concussionLog
{
	margin-left: 120px;
	font-size:2em;
}
#container
{
	min-height: 500px;
	border-radius: 5px 5px 0 0;
}
 
#grtplink
{
        background-color:#fff;
}

.styledtable
{
	margin: auto;
	border-color: black;
}
 
footer
{
	border-radius: 0 0 5px 5px;
}

nav
{
	float:right;
}
 
nav ul
{
	margin:0;
}
 
nav ul li
{
	display: inline;
	margin-right: 10px;
}
 
nav ul li a
{
	text-decoration: none;
}
 
nav ul li a.current
{
	font-weight: bold;
}
 
nav ul li a.last
{
	border-right: 0;
}

body img
{
		margin-left: 120px;
}

aside
{
	width: 260px;
	float: right;
	border-left:1px dashed #aaa;
	padding-left:15px;
}
 
#login li.link
{
	margin-top: 5px;
}
 
footer
{
	border-top: 1px dashed #ddd;
	color:#999;
}
 
.clear
{
	clear:both;
}	
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
.form{
     width: inherit;
     margin: 0 auto;
}
.insertForm{
     width: 300px;
     margin: 0 auto;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: red;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid red;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #024978;
}
